.Category__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  max-width: 200px;
  margin: 5px;
  font-size: 0.9rem;
  color: #333;
}

.Category__name {
  font-weight: bold;
}

.Category__icons {
  display: flex;
  margin: 5px;
  gap: 5px;
  align-items: center;
  color: #333;
  cursor: pointer;
}

.Category__icons > svg {
  font-size: 1.2rem;
}

.Category__icons > svg:hover{
  color: #0073e6;
}