*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family:  Roboto, sans-serif;
  font-weight: 400;
  color: #333;
  background: #B993D6;  
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  
  background: linear-gradient(to right, #8CA6DB, #B993D6); 
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}